﻿<?xml version="1.0" encoding="utf-8" ?>
<!--

Purpose: This include file configures the processing subsystem of the Sitecore CEP.

You should disable this file in case the current server does not need to perform processing tasks, such as executing scheduled Sitecore tasks.
To disable the file, you can rename it so that it has a ".disabled" extension.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor patch:after="processor[@type='Sitecore.Pipelines.Loader.EnsureAnonymousUsers, Sitecore.Kernel']" type="Security.Business.Pipelines.Initialize.AddCryptoAlgorithms, Security.Business"/>
      </initialize>
    </pipelines>
  </sitecore>
</configuration>