<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="Sitecore 8.1 Update 3" value="https://www.myget.org/F/achmea-package-repository/auth/dda5217f-9d3b-4b6d-8396-2c5575ed0a39/api/v2" />
    <add key="nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>

